/**
* Description: Core theme for Rama
*/

/**
* Structure
*/
html{}
body{
   background-color:#333;
   font: 1em Verdana, Arial, Helvetica, sans-serif;
}

h1 {
  border-bottom: 1px solid #ccc;
  text-transform: uppercase;
  padding: 10px;
  color: #333;
}

h2 {
  text-transform: uppercase;
  padding: 10px;
  color: #333;
}

#header,
#main,
#footer {
   margin:0 auto;
   width:970px;
   background-color:#eee;
   padding: 1em;
}



